.navbar {
    // width: 60px;
    background-color: rgb(211, 197, 197);
    // overflow: hidden;
    display: flow-root;
    // z-index: 1;
}
[class^='nav_elements']{
    display:inline-flex;
    // position:relative;
    // z-index: 2;
    &:hover{
        background-color: green;
        color: white;
    }
}

.nav_elements-has-sub{
    position: relative;
    // background-color: rgb(99, 97, 97);
}

.menu-items{
    padding: 14px 16px;
    // &:hover{
    //     background-color: green;
    //     color: white;
    // }
}
.container-left{
    float:left;
    display:inline-flex;
    direction: row;
}
.container-right{
    float:right;
    display:inline-flex;
    direction: row;
}

// [class^=menu-items],.container-right {
[class^=menu-items] {
    color: rgb(28, 1, 65);
    border-right: 1px solid rgb(0, 0, 0);
    &[class$=right-child]{
        border-left: 0.5px solid rgb(99, 0, 0);
        border-right: none;
    }
}

.profile-user-img{
    border-radius: 50%;
    width: 15px;
    margin-right: 10px;
}

[class^='profile-']{
    display:inline-block;
    vertical-align: middle;
}


.container-focused{
    background: rgb(131, 170, 255);
    width: auto;
    float: none;
    position: absolute;
    top: 35px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    min-width: 100px;
    display:flex;
    flex-direction: column;
    visibility: visible;

    // overflow: hidden;
    z-index: 2;

    li{
        padding:5px;
        text-align: center;
        float: none;
    }
}
